.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #fff;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  h2{
    font-size: 24px;
    color: #39f;
    margin-bottom: 10px;
  }
  .timestamp{
    font-size: 24px;
    text-align: center;
    padding: 5px 0;
    color: #333;
  }
  .controls{
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    column-gap: 5px;
    button{
      padding: 10px 15px;
      background: #fff;
      border: 1px solid #eee;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }
}
